module.exports = {
    env: {
        API_URL: URL API,
        API_URL_IMG: URL API IMG,
        ORIGIN_URL:ORIGIN URL,
        SECRET_COOKIE_PASSWORD: SECRET COOOKIE,
        VERSION_STATE:
    },
}