.table{
  table-layout: fixed;
  th{
    padding-top: 15px;
    padding-bottom: 15px;
  }
  td{
    white-space: nowrap;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.b-table{
  border-bottom: 3px solid $light;
}
.b-search{
  background-color: white;
  border-right: none;
}
.search{
  border-left: none;
}
.btn-search{
  padding: 10px 15px;
}
.b-grey{
  background: #6c757d;
}
.btm-table{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.h-activity{
  height: 100vh;
}
@media only screen and (max-width: 767px) {
  .table{
    table-layout: unset;
  }
  .h-activity{
    height: 30vh;
  }
}