.logo {
  width: 82%;
  height: 80%;
}
.fw-bold {
  font-weight: 500;
}
.fw-bolder {
  font-weight: 700;
}
.label-top {
  position: absolute;
  left: 40px;
  margin-top: -12px;
  z-index: 999;
}
.label-top2 {
  position: absolute;
  right: 35%;
  margin-top: -12px;
  z-index: 999;
}
.label-top3 {
  position: absolute;
  right: 31%;
  margin-top: -12px;
  z-index: 999;
}
.label-top4 {
  position: absolute;
  left: 36%;
  margin-top: -12px;
  z-index: 999;
}
.p-back {
  position: absolute;
  top: 5%;
}
.icon {
  max-width: 1em;
  max-height: 1em;
}
.icon-lg{
  max-width: 5em;
  max-height: 5em;
}
.b-bottom {
  font-size: 50px;
  font-weight: 700;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border: 0;
  border-bottom: 2px solid black;
  width: 60px;
  margin: 0px 20px 0px 25px;
  color: black;
}
.toogle {
  border-width: 1px;
  border-style: solid;
  border-color: #d1d7dd;
  background-color: transparent;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: none;
}
.r-none {
  border-right-style: none !important;
}
.r-none::-ms-reveal,
.r-none::-ms-clear {
  display: none;
}
@media only screen and (max-width: 767px) {
  .sm-hidden{
    display: none;
  }
  .label-top2{
    right: 75%;
  }
  .label-top3{
    right: 63%;
  }
  .label-top4{
    left: 8%;
  }
}
@media only screen and (max-width: 425px) {
  .fg-left{
    background-color: white;
    .logo{
      margin-top: -200px;
    }
  }
  .fg-right{
    background: transparent !important;
    margin-top: -720px;
    .fgr-title{
      margin-bottom: 250px;
    }
    form {
      margin-left: -10px;
    }
    .btn-verify{
      margin-left: 5px;
    }
  }
  .sm-hidden{
    display: none;
  }
}
