.toogle{
  border-width: 1px;
  border-style: solid;
  border-color: #d1d7dd;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: none;
}
.icon{
  max-width: 1em;
  max-height: 1em;
}
.rnone{
  border-right-style: none !important;
}

